@model TimeMonitor.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Reports";
}
<br />
<h2>Отчеты</h2>
<br />
<div>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Пользователи", "Index", "Home")
            </td>
        </tr>
    </table>
</div>
<br />
@using (Html.BeginForm("UserReports", "Home", FormMethod.Post, new {@report = Model }))
{
    @Html.DropDownListFor(m => m.User_id, ViewBag.UserList as SelectList)@Html.Raw("@mail.ru")
    <br/>
    @Html.Raw("Дата для отчета")
    <br/>
    @Html.DropDownListFor(m=>m.Mounth, ViewBag.MounthList as SelectList)@Html.Raw(" ")@Html.DropDownListFor(m => m.Year, ViewBag.YearsList as SelectList)
    <input type="submit" value="Показать отчеты" />
}

